.matte {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0008;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modal {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  z-index: 100;
}

.modal p {
  padding: 0px 20px;
  margin: 5px 0px;
}

.modal h1 {
  font-size: 30px;
  padding: 0 40px 20px 40px;
}

.modal h2 {
  padding: 0px 20px;
  margin: 5px 0px;
}

.modal button {
  width: calc(100% - 4px);
  margin: 2px;
  border-radius: 0;
  background-color: #e1e1fc;
  border: 1px solid #8787d2;
  margin-top: 5px;
}

.modal button:hover {
  background-color: #9d9db0;
}

.modal p.details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.modal .desc {
  margin-left: 20px;
  margin-top: -5px;
}

.modal .desc h3 {
  margin: 0;
  font-size: 16px;
}

.modal .desc ul {
  margin: 0;
  padding-left: 20px;
}
