.tile {
  width: 75px;
  height: 75px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

.tile:hover {
  cursor: pointer;
  border: 1px solid white;
}

.tile.earth {
  background-color: brown;
}

.tile.grass {
  background-color: green;
}

.tile.lightning {
  background-color: purple;
}

.special {
  position: absolute;
  top: 0;
  right: 0;
}
